@import "../helpers/_mixins.scss";
@import "../_variables.scss";

.Footer{
    @include flex($jc:space-between);
    padding: 1rem 3rem;
    background:$to-top;
    color:white;
    text-align: center;
    height: fit-content;
    .socials{
        .icons{
            font-size: 2rem;
            padding: .5rem;
        }
        @include flex();
    }
}
