@import "../helpers/_mixins.scss";
@import "../_variables.scss";

.Footer{
    @include flex($jc:space-between);
    padding: 1em 3em;
    background:$to-top;
    color:white;
    text-align: center;
    height: fit-content;
    font-size: $footer;
    @media (max-width: $tablet){
        justify-content: center;
    }

    .socials{
        @include flex();

        .icons{
            font-size: calc($footer*2);
            padding: .5em;
            colors:white;
        }
    }
}
