@import "../helpers/_mixins.scss";
@import "../_variables.scss";

.full-size{
    min-height: max-content;
    height: 100vh;
    max-height: 100vh;
}

.Home{
    width: 100%;
    display: grid;
    gap:1em;

    &-small{
        @extend .Home;
        @include flex($fd:column);
    }

    .disclaimer{
        font-size: $disclaimer;
        color: $gray;
        padding: 1em;
    }


    .hero{
        @include flex($fd:column);
        background-color:$off-black-overlay;
        background: url("./assets/BackgroundCar.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        h1{
            font-size: $heading;
            color: $heading-white;
            margin-bottom: 0;
        }

        .no-transparency{
            @extend h1;
            color:white;
        }

        p{
            font-size: $sub-heading;
            color:white;
            margin: 0 8em;
        }

        &-no-car{
            @extend .hero;
            background: unset;
            text-align: center;
        }
    }


    .main{
        @extend .hero;
        color:white;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        background:$off-black;
        margin-bottom: 3em;

        @media (max-width: $large){
            @include flex();
            text-align: center;
        }


        .leistung-top{
            @include flex($jc:flex-start);
            margin: .5em 0;
            @media (max-width: $large){
                justify-content: center;
            }
        }

        .leistung-title{
            font-size: $leistung-heading;
            margin-right: 1em;
        }

        .leistung-price{
            font-size: $leistung-preis;
            margin: 0;
        }

        .leistung-body{
            margin-left: 0 clamp(0px, 2em, 20%) ;
            font-size: $leistung-body;
        }

        .leistung-wrapper{
            width: fit-content;
            height: fit-content;
        }

        .left{
            grid-column: 1/1;
            grid-row: 1;
        }

        .center{
            grid-column: 2/2;
            grid-row: 2;
        }

        .right{
            grid-column: 3/3;
            grid-row: 3;
        }
    }
}

