/*Breakpoints */
$mobile: 600px;
$tablet: 768px;
$laptop: 992px;
$large: 1200px;

/*Color styles */
$dark-red: rgba(194, 0, 0, 1);
$medium-red: rgba(216, 13, 25, 1);
$light-red: rgba(229, 60, 67, 1);
$success-green: rgba(12, 97, 30, 1);
$gray: rgba(196, 196, 196, 1);
$white: rgba(255, 255, 255, 1);
$black: rgba(0, 0, 0, 1);
$off-black: rgba(12, 12, 12, 1);
$off-black-overlay: rgba(12, 12, 12, .5);
$heading-white: rgba(255,255,255,.3);
$heading-white-full-opa: rgba(255,255,255,1);

// Gradients
$to-bottom: linear-gradient(to bottom, rgba(0,0,0,1) 30%, rgba(0,0,0,0) 100%);
$to-top: linear-gradient(to top, rgba(0,0,0,1) 30%, rgba(0,0,0,0) 100%);

/* Text-size styles */
/* base size: lesitung-body (14px) */
$heading: 6.73em;
$sub-heading: 1.74em;
$leistung-heading: 1.74em;
$leistung-preis: 1.74em;
$leistung-body: 1em;
$footer: 0.86em;
$disclaimer: 1.04em;
$nav-link: 1.09em;

$success-text: 1.43em;
$form-text: 1.43em;
$register-text: 0.86em;
$form-title: 4.29em;
$wohnmobil-title: 4.29em;
$wohnmobil-leistung: 1em;
$wohnmobil-price: 0.82em;
