@use './components/navbar';
@use './components/home';
@use './components/footer';
@use './components/womo';
@use './components/transition';
@use './components/scrollIndicator';
@import "./helpers/_mixins.scss";
@import "_variables.scss";



*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    color:white;
    text-decoration: none;
}

body{
    overflow-x:hidden;
    width: 100%;
    font-size: 14px;
    background: $off-black;
    @media (max-width: $laptop){
        font-size: 13px;
    }
    @media (max-width: $mobile){
        font-size: 10px;
    }
}

.App{
    overflow-x:hidden;
    width: 100%;
    background: $off-black;
}

.ComingSoon{
    @extend .full-size;
    @include flex();
    color:white;
}

.no-hover-button{
    &:hover{
        background: none;
    }
}

/* width */
::-webkit-scrollbar {
  width: .5em;
}

/* Track */
::-webkit-scrollbar-track {
  background: #black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 25px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
