/*Breakpoints */
/*Color styles */
/* Text-size styles */
/* base size: lesitung-body (14px) */
@media (min-width: 992px) {
  .hamburger {
    display: none;
  }
}

@media (max-width: 992px) {
  .full-nav {
    display: none;
  }
}

.Navbar {
  background: linear-gradient(to bottom, black 30%, rgba(0, 0, 0, 0) 100%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: no-wrap;
  padding: 1em 2em;
  position: absolute;
  top: 0;
  left: 0;
  right: 2em;
  font-size: 1.09em;
  width: 100%;
  z-index: 10;
}
.Navbar .logo {
  height: 3em;
}
.Navbar .link, .Navbar .activeLink {
  margin-inline: 1em;
  color: white;
  text-decoration: none;
  position: relative;
}
.Navbar .link::after, .Navbar .activeLink::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  background: #c4c4c4;
  bottom: -0.4em;
  transform-origin: left;
  left: 0;
  transform: scaleX(0);
  transition-duration: 250ms;
}
.Navbar .link:hover::after, .Navbar .activeLink:hover::after {
  transform: scaleX(1);
}
.Navbar .activeLink {
  position: relative;
}
.Navbar .activeLink::after {
  background: white;
  transform: scaleX(1);
}

/*Breakpoints */
/*Color styles */
/* Text-size styles */
/* base size: lesitung-body (14px) */
.full-size, .ComingSoon {
  min-height: max-content;
  height: 100vh;
  max-height: 100vh;
}

.Home, .Home-small {
  width: 100%;
  display: grid;
  gap: 1em;
}
.Home-small {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.Home .disclaimer, .Home-small .disclaimer {
  font-size: 1.04em;
  color: #c4c4c4;
  padding: 1em;
}
.Home .hero, .Home .main, .Home .Home-small .main, .Home-small .Home .main, .Home .hero-no-car, .Home .Home-small .hero-no-car, .Home-small .Home .hero-no-car, .Home-small .hero, .Home-small .main, .Home-small .hero-no-car {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgba(12, 12, 12, 0.5);
  background: url("./assets/BackgroundCar.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}
.Home .hero .heading, .Home .main .heading, .Home .hero-no-car .heading, .Home .hero .no-transparency, .Home .main .no-transparency, .Home .hero-no-car .no-transparency, .Home-small .hero .heading, .Home-small .main .heading, .Home-small .hero-no-car .heading, .Home-small .hero .no-transparency, .Home-small .main .no-transparency, .Home-small .hero-no-car .no-transparency {
  font-size: clamp(2rem, 3rem, 6.73em);
  color: rgba(255, 255, 255, 0.3);
  margin-bottom: 0;
}
.Home .hero .no-transparency, .Home .main .no-transparency, .Home .hero-no-car .no-transparency, .Home-small .hero .no-transparency, .Home-small .main .no-transparency, .Home-small .hero-no-car .no-transparency {
  color: white;
}
.Home .hero p, .Home .main p, .Home .Home-small .main p, .Home-small .Home .main p, .Home .hero-no-car p, .Home .Home-small .hero-no-car p, .Home-small .Home .hero-no-car p, .Home-small .hero p, .Home-small .main p, .Home-small .hero-no-car p {
  font-size: 1.74em;
  color: white;
  margin: 0 8em;
}
.Home .hero-no-car, .Home-small .hero-no-car {
  background: unset;
  text-align: center;
}
.Home .main, .Home-small .main {
  color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  background: #0c0c0c;
  margin: 0 2em 3em 2em;
  min-width: fit-content;
  max-width: fit-content;
  width: fit-content;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
}
@media (max-width: 1200px) {
  .Home .main, .Home-small .main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    text-align: center;
  }
}
.Home .main .leistung-top, .Home-small .main .leistung-top {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin: 0.5em 0;
}
@media (max-width: 1200px) {
  .Home .main .leistung-top, .Home-small .main .leistung-top {
    justify-content: center;
  }
}
.Home .main .leistung-title, .Home-small .main .leistung-title {
  font-size: 1.74em;
  margin-right: 1em;
}
.Home .main .leistung-price, .Home-small .main .leistung-price {
  font-size: 1.74em;
  margin: 0;
  margin: 0 0 0 auto;
}
.Home .main .leistung-body, .Home-small .main .leistung-body {
  margin-left: clamp(0px, 2em, 50%);
  font-size: 1em;
}
.Home .main .leistung-body p, .Home-small .main .leistung-body p {
  max-width: min-content;
  margin: 0.4rem 0;
}
.Home .main .leistung-body li, .Home-small .main .leistung-body li {
  text-align: left;
  width: fit-content;
}
@media (min-width: 768px) and (max-width: 1200px) {
  .Home .main .leistung-body, .Home-small .main .leistung-body {
    margin: 0 8em;
  }
}
@media (max-width: 768px) {
  .Home .main .leistung-body, .Home-small .main .leistung-body {
    margin: 0 4em;
  }
}
.Home .main .leistung-wrapper, .Home-small .main .leistung-wrapper {
  width: fit-content;
  height: fit-content;
}
.Home .main .left, .Home-small .main .left {
  grid-column: 1/1;
  grid-row: 1;
}
.Home .main .center, .Home-small .main .center {
  grid-column: 2/2;
  grid-row: 2;
}
.Home .main .right, .Home-small .main .right {
  grid-column: 3/3;
  grid-row: 3;
}

/*Breakpoints */
/*Color styles */
/* Text-size styles */
/* base size: lesitung-body (14px) */
.Footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1em 3em;
  background: linear-gradient(to top, black 30%, rgba(0, 0, 0, 0) 100%);
  color: white;
  text-align: center;
  height: fit-content;
  font-size: 0.86em;
}
@media (max-width: 768px) {
  .Footer {
    justify-content: center;
  }
}
.Footer .socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.Footer .socials .icons {
  font-size: 1.72em;
  padding: 0.5em;
  colors: white;
}

/*Breakpoints */
/*Color styles */
/* Text-size styles */
/* base size: lesitung-body (14px) */
/*Breakpoints */
/*Color styles */
/* Text-size styles */
/* base size: lesitung-body (14px) */
.full-size, .ComingSoon {
  min-height: max-content;
  height: 100vh;
  max-height: 100vh;
}

.Home, .Wohnmobil, .Home-small {
  width: 100%;
  display: grid;
  gap: 1em;
}
.Home-small {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.Home .disclaimer, .Wohnmobil .disclaimer, .Home-small .disclaimer {
  font-size: 1.04em;
  color: #c4c4c4;
  padding: 1em;
}
.Home .hero, .Wohnmobil .hero, .Home .main, .Wohnmobil .main, .Home .Home-small .main, .Home-small .Home .main, .Home .hero-no-car, .Wohnmobil .hero-no-car, .Home .Home-small .hero-no-car, .Home-small .Home .hero-no-car, .Home-small .hero, .Home-small .main, .Home-small .hero-no-car {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgba(12, 12, 12, 0.5);
  background: url("./assets/BackgroundCar.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}
.Home .hero .heading, .Wohnmobil .hero .heading, .Home .main .heading, .Wohnmobil .main .heading, .Home .hero-no-car .heading, .Wohnmobil .hero-no-car .heading, .Home .hero .no-transparency, .Wohnmobil .hero .no-transparency, .Home .main .no-transparency, .Wohnmobil .main .no-transparency, .Home .hero-no-car .no-transparency, .Wohnmobil .hero-no-car .no-transparency, .Home-small .hero .heading, .Home-small .main .heading, .Home-small .hero-no-car .heading, .Home-small .hero .no-transparency, .Home-small .main .no-transparency, .Home-small .hero-no-car .no-transparency {
  font-size: clamp(2rem, 3rem, 6.73em);
  color: rgba(255, 255, 255, 0.3);
  margin-bottom: 0;
}
.Home .hero .no-transparency, .Wohnmobil .hero .no-transparency, .Home .main .no-transparency, .Wohnmobil .main .no-transparency, .Home .hero-no-car .no-transparency, .Wohnmobil .hero-no-car .no-transparency, .Home-small .hero .no-transparency, .Home-small .main .no-transparency, .Home-small .hero-no-car .no-transparency {
  color: white;
}
.Home .hero p, .Wohnmobil .hero p, .Home .main p, .Wohnmobil .main p, .Home .Home-small .main p, .Home-small .Home .main p, .Home .hero-no-car p, .Wohnmobil .hero-no-car p, .Home .Home-small .hero-no-car p, .Home-small .Home .hero-no-car p, .Home-small .hero p, .Home-small .main p, .Home-small .hero-no-car p {
  font-size: 1.74em;
  color: white;
  margin: 0 8em;
}
.Home .hero-no-car, .Wohnmobil .hero-no-car, .Home-small .hero-no-car {
  background: unset;
  text-align: center;
}
.Home .main, .Wohnmobil .main, .Home-small .main {
  color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  background: #0c0c0c;
  margin: 0 2em 3em 2em;
  min-width: fit-content;
  max-width: fit-content;
  width: fit-content;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
}
@media (max-width: 1200px) {
  .Home .main, .Wohnmobil .main, .Home-small .main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    text-align: center;
  }
}
.Home .main .leistung-top, .Wohnmobil .main .leistung-top, .Home-small .main .leistung-top {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin: 0.5em 0;
}
@media (max-width: 1200px) {
  .Home .main .leistung-top, .Wohnmobil .main .leistung-top, .Home-small .main .leistung-top {
    justify-content: center;
  }
}
.Home .main .leistung-title, .Wohnmobil .main .leistung-title, .Home-small .main .leistung-title {
  font-size: 1.74em;
  margin-right: 1em;
}
.Home .main .leistung-price, .Wohnmobil .main .leistung-price, .Home-small .main .leistung-price {
  font-size: 1.74em;
  margin: 0;
  margin: 0 0 0 auto;
}
.Home .main .leistung-body, .Wohnmobil .main .leistung-body, .Home-small .main .leistung-body {
  margin-left: clamp(0px, 2em, 50%);
  font-size: 1em;
}
.Home .main .leistung-body p, .Wohnmobil .main .leistung-body p, .Home-small .main .leistung-body p {
  max-width: min-content;
  margin: 0.4rem 0;
}
.Home .main .leistung-body li, .Wohnmobil .main .leistung-body li, .Home-small .main .leistung-body li {
  text-align: left;
  width: fit-content;
}
@media (min-width: 768px) and (max-width: 1200px) {
  .Home .main .leistung-body, .Wohnmobil .main .leistung-body, .Home-small .main .leistung-body {
    margin: 0 8em;
  }
}
@media (max-width: 768px) {
  .Home .main .leistung-body, .Wohnmobil .main .leistung-body, .Home-small .main .leistung-body {
    margin: 0 4em;
  }
}
.Home .main .leistung-wrapper, .Wohnmobil .main .leistung-wrapper, .Home-small .main .leistung-wrapper {
  width: fit-content;
  height: fit-content;
}
.Home .main .left, .Wohnmobil .main .left, .Home-small .main .left {
  grid-column: 1/1;
  grid-row: 1;
}
.Home .main .center, .Wohnmobil .main .center, .Home-small .main .center {
  grid-column: 2/2;
  grid-row: 2;
}
.Home .main .right, .Wohnmobil .main .right, .Home-small .main .right {
  grid-column: 3/3;
  grid-row: 3;
}

.Wohnmobil {
  display: grid;
  color: white;
  gap: 1em;
  grid-template-areas: "heading heading heading" "infos image ." "button button button";
  grid-template-rows: 30% 1fr 20%;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  width: 85%;
}
@media (max-width: 1200px) {
  .Wohnmobil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}
.Wohnmobil .womo-hero {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  grid-area: heading;
}
.Wohnmobil .infos {
  grid-area: infos;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
.Wohnmobil .infos div {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.Wohnmobil .images {
  grid-area: image;
}
.Wohnmobil .images img {
  width: 100%;
}
.Wohnmobil Button {
  margin: 0 auto;
  grid-area: button;
}

.form-submit-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 2em;
}

.fade-enter {
  opacity: 0;
  transform: translate(1000px, 0);
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transform: translate(0, 0);
  transition: opacity 250ms ease-out, transform 300ms ease;
}

.fade-exit {
  opacity: 1;
  transform: translate(0, 0);
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transform: translate(0, 30px);
  transition: opacity 250ms ease-out, transform 300ms ease;
}

/*Breakpoints */
/*Color styles */
/* Text-size styles */
/* base size: lesitung-body (14px) */
.scroll-indicator {
  width: 2em;
  height: 3em;
  margin-top: 2em;
  border: 2px solid white;
  border-radius: 25px;
  position: relative;
}
.scroll-indicator .ball {
  width: 90%;
  aspect-ratio: 1/1;
  background: white;
  border-radius: 25px;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
  animation: fade 3s linear infinite;
}
@keyframes fade {
  0% {
    transform: translate(-50%, 0);
  }
  50% {
    transform: translate(-50%, 50%);
  }
  100% {
    transform: translate(-50%, 0);
  }
}

/*Breakpoints */
/*Color styles */
/* Text-size styles */
/* base size: lesitung-body (14px) */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: white;
  text-decoration: none;
}

body {
  overflow-x: hidden;
  width: 100%;
  font-size: 1vw;
  background: #0c0c0c;
}
@media (max-width: 600px) {
  body {
    font-size: 1.5vw;
  }
}

.App {
  overflow-x: hidden;
  width: 100%;
  background: #0c0c0c;
}

.ComingSoon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: white;
}

.no-hover-button:hover {
  background: none;
}

/* width */
::-webkit-scrollbar {
  width: 0.5em;
}

/* Track */
::-webkit-scrollbar-track {
  background: #black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 25px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/*# sourceMappingURL=main.css.map */
