@use './components/navbar';
@use './components/home';
@use './components/footer';
@use './components/womo';
@import "./helpers/_mixins.scss";
@import "_variables.scss";



*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    color:white;
    text-decoration: none;
}

body{
    overflow-x:hidden;
    width: 100%;
    font-size: 14px;
    background: $off-black;
    @media (max-width: $laptop){
        font-size: 10px;
    }
    @media (max-width: $mobile){
        font-size: 6px;
    }
}

.App{
    overflow-x:hidden;
    width: 100%;
    background: $off-black;
}

.ComingSoon{
    @include flex();
    height: 100%;
    color:white;
}

.no-hover-button{
    &:hover{
        background: none;
    }
}
